Your URLs consist of the hostname (lowercase, case insensitive), version (e.g. v1beta1, which is lowercase), resource name and optionally custom method.

AIP-122 details resource names.  Specifically:

> Collection identifiers must be in camelCase

> user-settable resource IDs should conform to RFC-1034; which restricts to letters, numbers, and hyphen
> user-settable resource IDs should restrict letters to lower-case

AIP-136 details custom methods. Specifically:

> If word separation is required, camelCase must be used

Here's an excerpt from a Google API showing this in action:

```proto
post: "/v3beta1/{parent=projects/*/locations/*/agents/*/sessions/*}/entityTypes"
```

In this example above, `projects`, `locations`, `agents`, `sessions` and `entityTypes` are collection identifiers (camel case) whereas the `*` characters are resource IDs (lowercase, numbers and hyphen).

And another example using a custom method:

```proto
post: "/v3beta1/{session=projects/*/locations/*/agents/*/sessions/*}:matchIntent"
```

Whether the path should be case sensitive, my guess is yes.

That section of AIP-122 doesn't even make sense... [RFC 1034](https://datatracker.ietf.org/doc/html/rfc1034) describes DNS, and [section 3.5](https://datatracker.ietf.org/doc/html/rfc1034#section-3.5) covers the preferred syntax for _host names_ (note: **not** arbitrary domain names) and was superseded by [RFC 1123](https://datatracker.ietf.org/doc/html/rfc1123#section-2) anyway (to allow the first character of any label in an Internet host name to be an ASCII letter or digit). Note also that each DNS domain name is a sequence of labels, and "_conform to RFC-1034_" fails to convey intent that seems to be "_be valid as a DNS **label** in an Internet host name conforming with the preferred syntax of RFC 1034 {as updated by,without the updates of} RFC 1123_". That said, though, I can't imagine why API resource names should having anything to do with DNS domain name labels, and [Unicode Standard Annex #31](https://www.unicode.org/reports/tr31/#Default_Identifier_Syntax) (IDENTIFIER AND PATTERN SYNTAX) would seem **much** more applicable.

How valuable would be to downcase everything and use either `-` or `_` (only one) to avoid bikeshedding?

Or use `camelCase` but we can't use acronyms never, only use uppercase to separate words 🤷🏻 

I am getting lost reading the AIP, and I am craving for more rules that avoid bikeshedding 

@gibson042 Can you send a PR with what you think it ought to say?

> Can you send a PR with what you think it ought to say?

@lukesneeringer Yes, but I'd really like someone to explain the intent of the current text first. The [Resource ID segments](https://google.aip.dev/122#resource-id-segments) section seems clear, albeit with a surprising DNS RFC reference—IIUC, user-settable resource IDs should be matched by `/^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$/` (which allows consecutive dashes that would be disallowed by [UAX #31](https://www.unicode.org/reports/tr31/#Default_Identifier_Syntax), and disallows underscores that would be allowed). But the main [Guidance](https://google.aip.dev/122#guidance) section is unclear, because [RFC 1123](https://www.rfc-editor.org/rfc/inline-errata/rfc1123.html#btn_1354) "Internet host name" updates the "Preferred name syntax" from [RFC 1034](https://datatracker.ietf.org/doc/html/rfc1034#section-3.5), but neither of those documents have a concept of "DNS names" as suggested by the AIP (which I suspect is intending to reference the host name _label_ production [i.e., the parts of a domain name that are separated by unescaped dots], although again it is not clear why URL path segments should have any connection to that concept).

For reference, [RFC 3986](https://datatracker.ietf.org/doc/html/rfc3986#section-3.3) defines URL path segments as consisting of any combination of **unreserved** (ASCII alphanumeric/dash/dot/underscore/tilde), **pct-encoded**, **sub-delims** (any of `!$&'()*+,;=`), "`:`", and "`@`", and assigns special treatment to empty segments (disallowed after an initial slash for some paths), dot segments (`.` and `..`, subject to relative interpretation), and segments containing a colon (disallowed as the initial segment of a relative reference, where it would be confuseable with the separator after an initial URI scheme). AIPs can restrict path egments to a smaller set, but is there any reason for that restriction to correspond with the unrelated DNS host name label?

There's nothing _wrong_ with "up to 63 ASCII characters with an initial letter, terminal alphanumeric, and inner alphanumerics and dashes, preferably all lowercase", it's just strange to couple it to DNS. Should I assume that we want to keep the general concept and drop the coupling, or should it go further and allow punctuation such as underscore (which is an [ID_Continue character](https://util.unicode.org/UnicodeJsps/list-unicodeset.jsp?a=%5B%5B%3AASCII%3A%5D%26%5B%3AID_Continue%3A%5D%5D&g=&i=) supported in Unicode identifiers)?